c/Makefile.config1
c/*.o
c/data_structure/*.o
c/algorithm/*.o
c/tools/*.o
c/upper_layer/*.o
c/asm/*.o
c/service/*.o
outgoing/*
outgoing
*a.out
linux_device_driver/*cmd
linux_device_driver/*mod
linux_device_driver/*ko
linux_device_driver/*order
linux_device_driver/*mod.c
linux_device_driver/*o
linux_device_driver/*symvers
script/Makefile.config1
tags
